body {
    background-image: url(../image/backgroundImg.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    overflow-x: hidden;
    font-family: sans-serif;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-areas:
        "options board colors";  /*מגדיר שמות לגריד*/
}

#options {
    grid-area: options;
}

#board {
    grid-area: board;
    overflow-y: auto;/*כדי שלא יהיה גלילה בציר הx y*/
    overflow-x: auto;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 30px rgb(104, 104, 104);
    border-radius: 20px;
    background-color: rgb(171, 171, 171);
    opacity: 60%;
}
#circles {
    display: grid;
    grid-template-columns:2fr 1fr 1fr 1fr 1fr;
    grid-template-rows:repeat(10,1fr);
    
}  
.circle {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px black solid;
    margin: 15px;
}

#colors {
    grid-area: colors;
    margin-top: 52px;
    margin-left: 25%;
}
/*הגדרת כפתורי צבעים*/

.button-color {
    display: block;
    border-radius: 60px;
    border: 0px;
    box-shadow: 4px 4px 4px 4px #f3f1f0;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
/*הגדרת צבעים*/
#red {
    background-color: rgb(212, 2, 2);
    box-shadow: 0 0 15px rgb(212, 2, 2);
}

#orange {
    background-color: rgb(250, 147, 29);
    box-shadow: 0 0 15px rgb(250, 147, 29);
}

#yellow {
    background-color: rgb(255, 255, 0);
    box-shadow: 0 0 15px rgb(255, 255, 0);

}

#green {
    background-color: rgb(35, 206, 35);
    box-shadow: 0 0 15px rgb(35, 206, 35);


}

#blue {
    background-color: rgb(11, 147, 189);
    box-shadow: 0 0 15px rgb(11, 147, 189);


}

#LightBlue {
    background-color: rgb(71, 207, 224);
    box-shadow: 0 0 15px rgb(71, 207, 224);

}

#pink {
    background-color: rgb(255, 58, 156);
    box-shadow: 0 0 15px rgb(255, 58, 156);
}
/*הגדרת כפתורי משחק חדש דף הבית והוראות*/
.singleOption {
    margin-top: 35px;
    margin-left: 10%;
    background-color: #ff7a77;
    height: 100px;
    width: 150px;
    border-radius: 15px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border: 4px solid white;
    text-align: center;
}
.singleOption:hover {
    background-color: #ff5a56;
    color: white;
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
}
/*כפתור הפוקוס*/

.get-color-focus {
    border: 5px white solid;
    background:rgb(171, 171, 171);
}

.marking {
    margin-left: 10%;
    color: white;
    font-size: 25px;
    margin-top: 35px;
}
/*עיצוב כפתור בידקה*/
#button-check {
    margin-top: 25px;
    margin-left: 10%;
    background-color: #52B5BF;
    height: 47px;
    width: 150px;
    border-radius: 7px;
    border-color: white;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#button-check:hover {
    background-color: #83D9E8;
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0); 
}

#button-check:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

#choose-level {
    background-color: #92cbda;
    position: fixed;
    top: 200px;
    left: 30%;
    right: 15%;
    height: 350px;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
    visibility: hidden;
}
#level-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#choose-level p {
    font-size: 50px;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
}
#choose-level button {
    border-radius: 20px;
    color: white;
    font-size: 20px;
    background-color: rgb(44, 42, 42);
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 40px;
    height: 60px;
    width: 20%;
}
.end-game{
    position: fixed;
    top: 200px;
    left: 30%;
    right: 15%;
    height: 450px;
    width: 40%;
    justify-content: center;
    direction: rtl;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    visibility: hidden;
}
#wining{
    background-color: #ff7a77;
}
.paragraph{
    text-align: center;
    color: white;
}
#score{
    font-size: 20px;
}
#looser{
    font-size: 20px;
}
h1{
    font-size: 70px;
    font-weight: bold;
}
#end-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.end-button{
    background: #62757f;
    border: 4px solid #62757f;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    height: 60px;
    width: 100px;
    margin-bottom: 30px;
    margin-top: 20px;
}
#losing{
    background-color: #5f5d5d;
}
.end-button:hover {
    background: transparent;
    color: #62757f;
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
}




